html, body {
    margin: 0;
}

#stage {

}

.top-level-button {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px;
}

.flow-node {
    margin: 10px;
    padding: 10px;
    background: lightsteelblue;
    border: 2px solid darkslategray;
}

.flow-node-connector {
    background: coral;
    width: 1px;
    height: 1px;
}