html, body {
    margin: 0;
}

#stage {

}

.flow-node {
    margin: 10px;
    padding: 10px;
    background: lightsteelblue;
    border: 2px solid darkslategray;
}

.flow-node-connector {
    background: coral;
    width: 1px;
    height: 1px;
}